<div id="<%= dom_id article %>" class="mb-2">
  <p class="mb-0">
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p class="mb-0">
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p class="mb-0">
    <%= link_to "Show this article", article %>
  </p>
</div>
