<div id="<%= dom_id article %>" class="mb-2">
  <p class="mb-0">
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p class="mb-0">
    <%= link_to "Show this article", article, data: { turbo_frame: 'article_wrapper' } %>
  </p>
</div>
