<div>
  <p class="mb-0">
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p class="mb-2">
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p class="d-flex align-items-center gap-2">
    <%= button_to 'DELETE', article, method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    <%= link_to "Close", article_path('blank'), data: { turbo_frame: 'article_wrapper' } %>
  </p>
</div>
