<h1>Articles</h1>

<ul id="articles" class="list-group">
  <% @articles.each do |article| %>
    <%= render 'article_list_item', article: %>
  <% end %>
</ul>

<hr />

<%= turbo_frame_tag 'article_wrapper' do %>
  <%= link_to "New article", new_article_path %>
<% end %>
