<% form_id = dom_id(@article, :form) %>

<% content_for(:modal_title, 'New article') %>

<% content_for(:modal_body) do %>
  <%= render "form", article: @article, form_id: %>
<% end %>

<% content_for(:modal_footer) do %>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary" form="<%= form_id %>">Save changes</button>
<% end %>
