<% content_for(:modal_title, 'Article') %>

<% content_for(:modal_body) do %>
  <%= render @article %>
<% end %>

<% content_for(:modal_footer) do %>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <%= link_to "Edit", [:edit, @article], class: 'btn btn-primary' %>
  <%= button_to "Destroy", @article, method: :delete, class: 'btn btn-danger', form: { data: { turbo_frame: '_top' } } %>
<% end %>
